<!-- 主要內容區域 -->
<div class="container">
  <div id="leftColumn">
    <div id="prescriptionDetailsContainer">
      <p class="no-data">等待處方資料更新...</p>
    </div>
  </div>
  <div id="rightColumn">
    <div id="rightInfoBox">
      <p class="no-data">尚無處方資訊</p>
    </div>
  </div>
</div>
