<!-- 處方紀錄模態視窗 -->
<div id="prescriptionHistoryModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title">病患處方紀錄</h3>
      <span class="close-modal">&times;</span>
    </div>
    <div id="prescriptionHistoryContent">
      <p class="no-data">載入中，請稍候...</p>
    </div>
  </div>
</div>
